<%- include('template/header');%>
    <link rel="stylesheet" type="text/css" href="./../image/css/datospersonales.css">
    <title>Datos Personales</title>
        <div id="caja">
            <div class="yoo">
                <img src="./../image/yo.jpeg">
            </div>
            <ul class="personales">
                <li>Nombre:</li>
                <li>Documento Identidad:</li>
                <li>Fechas de nacimiento:</li>
                <li>Edad:</li>
                <li>Lugar de nacimiento:</li>
                <li>Direccion:</li>
                <li>Telefono:</li>
                <li>E-mail:</li>
            </ul>
            <ul class="personales2">
                <li>Brayan Camilo Palomino Mosquera</li>
                <li>1.016.944.629</li>
                <li>16 de Agosto de 2004</li>
                <li>18 años</li>
                <li>Bogota D.C</li>
                <li>Calle 66a # 115B-30</li>
                <li>3134377435</li>
                <li>brayanpalomino535@gmail.com</li>
            </ul>
        </div>
        <%- include('template/footer');%>
    </html>