<%- include('template/header');%>
    <link rel="stylesheet" type="text/css" href="./../image/css/personalidad.css">
    <title>Personalidad</title>
        <h1>Sobre mi...</h1>
        <div class="todito">
            <div class="imagenes">
                <img src="./../image/imagen.jpeg">
                <img src="./../image/imagen1.jpeg">
                <img src="./../image/imagen2.jpeg">
                <img src="./../image/imagen3.jpeg">
            </div>
            <div class="parrafo">
                <p>Soy una persona muy autentica, comprometido, amigable, tranquilo, me gusta muchos salir y compartir con
                    las
                    personas.
                    Me gusta mucho escuchar y a mismo tiempo bailar todo tipo de musica, sobre todo el reggae o dancehall ya
                    que
                    al mismo tiempo incita mucho a mover el cuerpo.
                    Ademas en los tiempos libres hago mucho ejercicio para mantenerme en forma, me gusta salir a trotar para
                    relajarme,
                    sobre todo hago abdominales para tonificar el abdomen y centadillas para tonificar las piernas. Me
                    gustan casi todos los deportes pero en especial el microfutbol, tengo un
                    equipo de microfutbol en el que jugamos dos veces a la semana.</p><br><br><br>
                <p>En ocasiones suelo dormir mucho incluso mas del promedio de lo que se deberia dormir, pues obviamente
                    porque
                    me gusta:). Me gusta ver las peliculas o series que se basan en muertes, suspenso, terror, superherores
                    y
                    comedia, sobre todo cuando las comparto en familia. En ocasiones me cuesta llegar ser puntual pero me he
                    esforzado por cumplir los horarios. Y me gustan los gatos:))</p>
            </div>
            <div class="imagenes2">
                <img src="./../image/imagen4.jpeg">
                <img src="./../image/imagen5.jpeg">
                <img src="./../image/imagen6.jpeg">
                <img src="./../image/imagen7.jpeg">
            </div>
        </div>
        <%- include('template/footer');%>
    </html>