<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../image/css/footer.css">
</head>
<footer>
    <div class="pie">
        <div class="nosotros">
            <h2>Sobre Mi:</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore aliquam cum tenetur perspiciatis
                necessitatibus molestiae veritatis dolore.</p>
        </div>
        <div class="redes">
            <h2>Contactame:</h2>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook-f"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-whatsapp"></a>
        </div>
        <div class="elaborado">
            <h2>Autor:</h2>
            &copy;Elaborado por Brayan Palomino <br> SENA
        </div>
    </div>
    <div class="pagina">
        <small>Todos los derechos Reservados</small>
    </div>
</footer>
<script src="https://kit.fontawesome.com/bdbed0aafa.js" crossorigin="anonymous"></script>
</html>