<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../image/css/header.css">
    <script src="./../image/js/mainn.js"></script>
</head>
<div class="todo">
    <div class="logo">
        <label><a href="/">Brayan Palomino</a></label>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/Educacion">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Educación
                </a>
            </li>
            <li>
                <a href="/DatosPersonales">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                Datos Personales
            </a>
        </li>
            <li>
                <a href="/Personalidad">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Personalidad
                </a>
            </li>
        </ul>
    </nav>
</div>
<div id="logo2">Brayan Palomino</div>
</html>