<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../image/css/header.css">
    <script src="./../image/js/mainn.js"></script>
</head>
<div class="todo">
    <div class="logo">
        <a href=""><img src="./../image/logo.png"></a>
    </div>
    <nav>
        <ul>
            <li><a href="">Educacion</a></li>
            <li><a href="">Educacion</a></li>
            <li><a href="">Educacion</a></li>
            <li><a href="">Educacion</a></li>
        </ul>
    </nav>
</div>
</html>